<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout.html" th:with="activeTab='secure'" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Main page</title>
</head>
<body>
<div layout:fragment="content" style="width: 40%;align: center;" >
    <div th:replace="fragments/alert :: alert"></div>
    <h1>This is a secured page!</h1>
    <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</div>


</body>
</html>