<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout.html" th:with="activeTab='data'" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/data.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="fragments/alert :: alert"></div>
        <div class="row">

            <div class="col-lg-5 col-sm-12">
                <div class="jumbotron jumbotron-fluid element">
                    <h1>You have access to:</h1>
                    <div id="feederButtons"></div>
                </div>
            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="jumbotron jumbotron-fluid element">

                </div>

            </div>
            <div class="col-lg-7 col-sm-12">

                <div class="jumbotron jumbotron-fluid element">

                </div>


                <div class="jumbotron jumbotron-fluid element">
                    <h1>Data from your feeder</h1>
                    <div class="stats">
                        <canvas id="chart"></canvas>
                    </div>
                </div>

            </div>
        </div>




    </div>
</body>
</html>