<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout.html" th:with="activeTab='home'" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Main page</title>
</head>
<body>
<div layout:fragment="content" style="width: 40%;align: center;" >
    <div th:replace="fragments/alert :: alert"></div>


    <h1>Index page visible for everyone, even anonymous users</h1>
    <p><td th:text="${msg2}">Text...</td></p>
    <p><td th:text="${msg}">Text...</td></p>
    <p>You can access secure page after login.</p>
    <ul>
    <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured page</a></li>
    </ul>
</div>


</body>
</html>