<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout.html" th:with="activeTab='home'" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content" style="width: 40%;align: center;" >
        <div th:replace="fragments/alert :: alert"></div>
        <div class="jumbotron jumbotron-fluid element"  sec:authorize="!isAuthenticated()" >
            <h1>Login to access Your data</h1>


            <form th:action="@{/login}" method="post" >

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Login</span>
                    </div>
                    <input type="text" id="username1" name="username" class="form-control" required="required"/>
                    <div class="invalid-feedback">Invalid data</div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" id="password1" name="password" class="form-control" required="required"/>
                    <div class="invalid-feedback">Invalid data</div>
                </div>
                <button class="btn btn-dark disabled" type="submit" id="submit">Login</button>

            </form>
            <h1 th:if="${loginError}" class="error">Wrong user or password</h1>
        </div>

        <div class="jumbotron jumbotron-fluid element"  sec:authorize="isAuthenticated()" >
            <h1>Hello <td th:text="${username}"></td>, you are logged in.</h1>
        </div>
    </div>


</body>
</html>