<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout.html" th:with="activeTab='sources'">
<head>
    <title>sources</title>
    <script type="text/javascript" th:src="@{/js/sources.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="fragments/alert :: alert"></div>
    <div class="jumbotron jumbotron-fluid element">
        <h1>Add new data source</h1>
        <form class="needs-validation" novalidate="novalidate" autocomplete="off">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Identificator</span>
                </div>
                <input type="number" companyId="serial" min="0" class="form-control" required="required"/>
                <div class="invalid-feedback">Invalid identificator</div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <input type="text" companyId="description" class="form-control" required="required"/>
                <div class="invalid-feedback">Invalid description</div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Secret</span>
                </div>
                <input type="text" companyId="secret" class="form-control" required="required"/>
                <div class="invalid-feedback">Invalid secret</div>
            </div>
            <button class="btn btn-dark" type="submit" companyId="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>